@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="primary-button">PRIMARY</button>
    <button class="secondary-button">SECONDARY</button>
</div>
<link rel="stylesheet" href="~/scss/button.css" asp-append-version="true" />
